ACTION=="remove", GOTO="permissions_end"

# default permissions for block devices
SUBSYSTEM=="block",				GROUP="root"
SUBSYSTEM=="block", ATTRS{removable}=="1",	GROUP="root"
# the aacraid driver is broken and reports the disks as removable (see #404927)
SUBSYSTEM=="block", DRIVERS=="aacraid",		GROUP="root"
# all block devices on these buses are "removable"
SUBSYSTEM=="block", SUBSYSTEMS=="usb|ieee1394|mmc|pcmcia", GROUP="root"

KERNEL=="cbm",					GROUP="root"

# IDE devices
ENV{ID_CDROM}=="?*",				GROUP="root"
KERNEL=="ht[0-9]*", 				GROUP="root"
KERNEL=="nht[0-9]*", 				GROUP="root"

# SCSI devices
SUBSYSTEM=="scsi_generic|scsi_tape", \
SUBSYSTEMS=="scsi", ATTRS{type}=="1|8",		GROUP="root"
SUBSYSTEM=="scsi_generic", \
SUBSYSTEMS=="scsi", ATTRS{type}=="4|5",		GROUP="root"

# USB devices
KERNEL=="legousbtower*",	MODE="0666"
KERNEL=="lp[0-9]*", SUBSYSTEMS=="usb",		GROUP="root"
# hplip and cups 1.4+ use raw USB devices, so permissions should be similar to
# the ones from the old usblp kernel module
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", \
	ENV{ID_USB_INTERFACES}=="", IMPORT{program}="usb_id --export %p"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", \
	ENV{ID_USB_INTERFACES}=="*:0701*:",	GROUP="root"

# usbfs-like devices
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", \
				MODE="0664"

# serial devices
SUBSYSTEM=="tty",				GROUP="root"
SUBSYSTEM=="capi",				GROUP="root"
SUBSYSTEM=="slamr",				GROUP="root"
SUBSYSTEM=="zaptel",				GROUP="root"
KERNEL=="mISDNtimer",				GROUP="root"
KERNEL=="mwave",				GROUP="root"
KERNEL=="hvc*|hvsi*",				GROUP="root"

# vc devices (all members of the tty subsystem)
KERNEL=="ptmx",			MODE="0666",	GROUP="root"
KERNEL=="console",		MODE="0600",	GROUP="root"
KERNEL=="tty",			MODE="0666",	GROUP="root"
KERNEL=="tty[0-9]*",				GROUP="root"
KERNEL=="pty*",			MODE="0666",	GROUP="root"

# video devices
SUBSYSTEM=="video4linux",			GROUP="root"
SUBSYSTEM=="drm",				GROUP="root"
SUBSYSTEM=="dvb",				GROUP="root"
SUBSYSTEM=="em8300",				GROUP="root"
SUBSYSTEM=="graphics",				GROUP="root"
SUBSYSTEM=="nvidia",				GROUP="root"

# misc devices
KERNEL=="random",		MODE="0666"
KERNEL=="urandom",		MODE="0666"
KERNEL=="mem",			MODE="0640",	GROUP="root"
KERNEL=="kmem",			MODE="0640",	GROUP="root"
KERNEL=="port",			MODE="0640",	GROUP="root"
KERNEL=="nvram",		MODE="0640",	GROUP="root"
KERNEL=="full",			MODE="0666"
KERNEL=="null",			MODE="0666"
KERNEL=="zero",			MODE="0666"
KERNEL=="inotify",		MODE="0666"
KERNEL=="sonypi",		MODE="0666"
KERNEL=="cpu[0-9]*",		MODE="0444"
KERNEL=="agpgart",				GROUP="root"
KERNEL=="pmu",					GROUP="root"
KERNEL=="kqemu",		MODE="0666"
KERNEL=="tun",			MODE="0666",	OPTIONS+="static_node=net/tun"
KERNEL=="rfkill",		MODE="0644"

KERNEL=="cdemu[0-9]*",				GROUP="root"
KERNEL=="pktcdvd[0-9]*",			GROUP="root"
KERNEL=="pktcdvd",		MODE="0644"

# printers and parallel devices
SUBSYSTEM=="printer",				GROUP="root"
SUBSYSTEM=="ppdev",				GROUP="root"
KERNEL=="irlpt[0-9]*",				GROUP="root"
KERNEL=="pt[0-9]*",				GROUP="root"
KERNEL=="pht[0-9]*",				GROUP="root"

# sound devices
SUBSYSTEM=="sound",				GROUP="root"

# ieee1394 devices
SUBSYSTEM=="firewire", ATTR{units}=="*0x00a02d:0x00010*",  GROUP="root"
SUBSYSTEM=="firewire", ATTR{units}=="*0x00b09d:0x00010*",  GROUP="root"
SUBSYSTEM=="firewire", ATTR{units}=="*0x00a02d:0x010001*", GROUP="root"
SUBSYSTEM=="firewire", ATTR{units}=="*0x00a02d:0x014001*", GROUP="root"
KERNEL=="raw1394",				GROUP="root"
KERNEL=="dv1394-[0-9]*",			GROUP="root"
KERNEL=="video1394-[0-9]*",			GROUP="root"

# input devices
KERNEL=="event[0-9]*", ATTRS{name}=="*dvb*|*DVB*|* IR *" \
				MODE="0664",	GROUP="root"
KERNEL=="js[0-9]*",		MODE="0664"
KERNEL=="event[0-9]*", ENV{ID_CLASS}=="joystick", \
				MODE="0664",	GROUP="root"
KERNEL=="lirc[0-9]*",				GROUP="root"

KERNEL=="sgi_*",		MODE="0666"
KERNEL=="z90crypt",		MODE="0666"
KERNEL=="iseries/ibmsis*",			GROUP="root"
KERNEL=="iseries/nvt*",				GROUP="root"
KERNEL=="iseries/vt*",				GROUP="root"
KERNEL=="iseries/vtty*",			GROUP="root"

# AOE character devices
SUBSYSTEM=="aoe",		MODE="0220",	GROUP="root"
SUBSYSTEM=="aoe", KERNEL=="err", MODE="0440",	GROUP="root"

LABEL="permissions_end"

