build.log
src
src64
kernel
kernel-np
kernel64
cache
linbo_gui32
linbo_gui64
configure-stamp
build-stamp
.directory
.debhelper
debian/linuxmuster-linbo-common/var/linbo/
mkpkg
tmp
/syncToTestServer.sh
