Source: linuxmuster-linbo
Section: admin
Priority: extra
Maintainer: Thomas Schmitt <thomas@linuxmuster.net>
Build-Depends: autoconf, bc, bison, cpio, debhelper, gettext, git, grub-efi-amd64-bin, grub-efi-ia32-bin, grub-pc-bin, libfreetype6-dev, libtool, ncurses-dev, python, texinfo, ttf-dejavu-core, unzip, wget

Package: linuxmuster-linbo
Architecture: all
Depends: linuxmuster-base (>= 6.1.0), rsync (>= 3), bittorrent, dropbear, ssh, sed, screen, mkisofs, syslinux, dosfstools, atftpd (>= 0.7.dfsg-11.1) | tftpd, udpcast, xz-utils, zip, mbr, wakeonlan
Suggests: isc-dhcp-server | dhcp3-server
Recommends: wodim, ldap-utils
Description: LINBO PXE boot files
 This package contains the bootfiles and multicast startscripts
 for the Linux-based Network Boot (LINBO) boot/install/repair system.
 Installation and configuration of a DHCP, TFTP and RSYNC server, as well
 as udpcast, is highly recommended for this to work.
