#!/usr/bin/make -f
#
# thomas@linuxmuster.net
# 08.03.2015
# GPL v3
#

export DH_COMPAT=5

CURDIR=$(shell pwd)
DESTDIR=$(CURDIR)/debian/linuxmuster-linbo

include $(CURDIR)/common.mk

# grub required modules
GRUB_COMMON_MODULES=all_video chain configfile cpuid echo net ext2 extcmd fat gettext gfxmenu gfxterm http \
 ntfs linux loadenv minicmd net part_gpt part_msdos png progress reiserfs search terminal test

GRUB_EFI32_MODULES=efi_gop efi_uga efinet tftp
GRUB_EFI64_MODULES=efi_gop efi_uga efinet linuxefi tftp

GRUB_PC_MODULES=biosdisk ntldr pxe


# targets
configure: configure-stamp
configure-stamp:
	dh_testdir
	#make configure
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	#make build
	grub-mknetdir --modules="$(GRUB_PC_MODULES) $(GRUB_COMMON_MODULES)" -d /usr/lib/grub/i386-pc --net-directory=$(BUILDDIR) --subdir=/boot/grub
	grub-mknetdir --modules="$(GRUB_EFI32_MODULES) $(GRUB_COMMON_MODULES)" -d /usr/lib/grub/i386-efi --net-directory=$(BUILDDIR) --subdir=/boot/grub
	grub-mknetdir --modules="$(GRUB_EFI64_MODULES) $(GRUB_COMMON_MODULES)" -d /usr/lib/grub/x86_64-efi --net-directory=$(BUILDDIR) --subdir=/boot/grub
	touch build-stamp

distclean: clean

clean: 
	dh_testdir
	dh_testroot
	dh_clean -d
	#make clean

install: build
	dh_testdir
	dh_testroot
	#dh_clean -k
	dh_installdirs
	dh_install
	dh_installinit
	# manual installation files
	install -D -m 644 debian/linbo-bittorrent.default $(DESTDIR)/etc/default/linbo-bittorrent
	install -D -m 755 debian/linbo-multicast.init $(DESTDIR)/etc/init.d/linbo-multicast
	install -D -m 755 debian/linbo-bittorrent.init $(DESTDIR)/etc/init.d/linbo-bittorrent
	install -D share/templates/grub.cfg.pxe $(DESTDIR)/var/linbo/boot/grub/grub.cfg
	install -D -m 755 buildroot/output/images/bzImage $(DESTDIR)/var/linbo/linbo
	install -D -m 755 buildroot/output/images/rootfs.cpio $(DESTDIR)/var/linbo/linbofs64
	lzma -zv --suffix=.lz $(DESTDIR)/var/linbo/linbofs64

# Build architecture-independent files here.
# binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: configure build install
	dh_testdir
	dh_testroot
	dh_installdebconf	
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installdirs
	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_install
	dh_installchangelogs 
	dh_link
	dh_strip
#	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: binary-indep binary-arch binary configure build install
