ui vesamenu.c32
timeout 100
font /boot/grub/themes/linbo/unifont-regular-16.pf2

menu resolution 800 600
menu background /boot/grub/linbo_wallpaper.png
menu title LINBO Start-Menue (BIOS-Modus)
menu color title	* #fefe54 *
menu color border	* #00000000 #00000000 none
menu color sel		* #ffffffff #76a1d0ff *
menu color hotsel	1;7;37;40 #ffffffff #76a1d0ff *
menu color tabmsg	* #ffffffff #00000000 *
menu color help		37;40 #ffdddd00 #00000000 none
menu vshift 3
menu rows 10
menu helpmsgrow 15
# The command line must be at least one line from the bottom.
menu cmdlinerow 16
menu timeoutrow 16
menu tabmsgrow 18
menu tabmsg ENTER to boot or TAB to edit a menu entry
